[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 13.0
	shallow = true
[submodule "fleet"]
	path = fleet
	url = git@github.com:OCA/fleet.git
	branch = 13.0
	shallow = true
[submodule "connector"]
	path = connector
	url = git@github.com:OCA/connector.git
	branch = 13.0
	shallow = true
[submodule "queue"]
	path = queue
	url = git@github.com:OCA/queue.git
	branch = 13.0
	shallow = true
[submodule "hr"]
	path = hr
	url = git@github.com:OCA/hr.git
	branch = 13.0
	shallow = true
[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0
	shallow = true
[submodule "l10n-spain"]
	path = l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 13.0
	shallow = true
[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 13.0
	shallow = true
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 13.0
	shallow = true
[submodule "account-invoicing"]
	path = account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 13.0
	shallow = true
[submodule "bank-payment"]
	path = bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 13.0
	shallow = true
[submodule "community-data-files"]
	path = community-data-files
	url = git@github.com:OCA/community-data-files.git
	branch = 13.0
	shallow = true
[submodule "mis-builder"]
	path = mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 13.0
	shallow = true
[submodule "web"]
	path = web
	url = git@github.com:OCA/web.git
	branch = 13.0
	shallow = true
[submodule "server-ux"]
	path = server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
	shallow = true
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 13.0
[submodule "edi"]
	path = edi
	url = https://github.com/OCA/edi.git
	branch = 13.0
